.photoset {
   position: relative;

   &__img {
      width: 55%;
      box-shadow: 0 1.5rem 4rem rgba($color-dark, .4);
      border-radius: $border-radius-box;
      position: absolute;
      transition: transform 0.2s;
      outline-offset: 2rem;

      @include respond(tab-port) {
         box-shadow: 0 1.5rem 2rem rgba($color-dark, .2);
         width: calc(100% / 3 - 2px);
         display: inline-block;
         position: unset;
      }

      &--1 {
         left: 0;
         top: -2rem;
      }
      &--2 {
         right: 0;
         top: 2rem;

         @include respond(tab-port) {
            transform: scale(1.2)
         }
      }
      &--3 {
         left: 20%;
         top: 10rem;
      }

      &:hover {
         transform: translateY(-0.5rem) scale(1.05);
         box-shadow: 0 2.5rem 4rem rgba($color-dark, .5);
         z-index: 10;
         outline: 1.5rem solid $color-primary;

         @include respond(tab-port) {
            transform: none;
            outline: none;
            box-shadow: 0 1.5rem 2rem rgba($color-dark, .2);
         }
      }

   }
   &:hover &__img:not(:hover) {
      transform: scale(.95);
   }
}