.story {
   width: 75%;
   margin: 0 auto;
   box-shadow: 0 3rem 6rem rgba($color-dark, .1);
   border-radius: $border-radius-box;
   padding: 6rem 6rem 6rem 9rem;
   transform: skewX(-12deg);
   background: rgba(255, 255, 255, 0.6);

   @include respond(phone) {
      transform: none;
      width: 100%;
      padding: 4rem 4rem 2rem 5rem;
      max-width: 40rem;
   }

   &__shape {
      position: relative;
      width: 15rem; //required
      height: 15rem; //required
      float: left; //required
      background-color: orangered;
      overflow: hidden;
      border-radius: 50%;

      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
         // element boundary shape
         -webkit-shape-outside: circle(50% at 50% 50%); // radius 'at' center
         shape-outside: circle(50% at 50% 50%);

         // element visual shape
         clip-path: circle(50% at 50% 50%);
         -webkit-clip-path: circle(50% at 50% 50%);
      }

      transform: translateX(-3rem) skewX(12deg);
      
      @include respond(phone) {
         transform: translateX(-3rem);
      }
   }

   &__image {
      height: 100%;
      transform: translateX(-4rem) scale(1.4);
      transition: transform 0.5s;
   }

   &__text {
      transform: skewX(12deg);

      @include respond(phone) {
         transform: none;
      }
   }

   &__caption {
      @include position-middle(70%);
      color: $color-light;
      text-transform: uppercase;
      font-size: 1.7rem;
      text-align: center;
      opacity: 0;
      transition: opacity 0.5s, transform 0.5s;
   }

   &:hover &__caption {
      opacity: 1;
      transform: translate(-50%, -100%);
   }

   &:hover &__image {
      transform: translateX(-4rem) scale(1.05);
      filter: blur(3px) brightness(80%);
   }
}