.section-about {
   background-color: $color-grey-1;
   padding: 25vh 0;
   margin-top: -20vh;
}

.section-features {
   padding: 20rem 0;
   margin-top: -20vh;
   @include header-bg("../img/nat-4-md.jpg");

   @media only screen and (min-width: $phone) {
      @include header-bg("../img/nat-4-lg.jpg");
   }

   @include retina-img($phone, 125em) {
      @include header-bg("../img/nat-4-xl.jpg");
   }

   background-size: cover;
   @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: polygon(0 11%, 100% 0, 100% 89%, 0 100%);
      clip-path: polygon(0 11%, 100% 0, 100% 89%, 0 100%);
   }
}

.section-tours {
   background-color: $color-grey-1;
   padding: 10rem 0 10rem;
   margin-top: -5rem;
}

.section-stories {
   position: relative;
   padding: 10rem 0;
}

.section-book {
   padding: 10rem 0;
   background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
   background-image: linear-gradient(105deg, 
      rgba($color-light, .9) 0%, 
      rgba($color-light, .9) 50%, 
      transparent 50%, 
   ) ,url(../img/nat-10-xl.jpg);
   background-size: cover;

   border-radius: $border-radius-box;
   box-shadow: 0 1.5rem 4rem rgba($color-dark, .2);


   &__form {
      width: 60%;
      padding: 3rem;
   }

   @mixin book-bg($url: "../img/nat-10-md.jpg") {
      background-image: linear-gradient(to left, 
         rgba($color-light, .9) 0%, 
         rgba($color-light, .7) 100%, 
      ) ,url($url);
   }

   @include respond(tab-port) {
      @include book-bg;

      @media only screen and (min-width: $phone) {
         @include book-bg("../img/nat-10-lg.jpg");
      }

      @include retina-img($phone, 125em) {
         @include book-bg("../img/nat-10-xl.jpg");
      }

      &__form {
         width: 100%;
      }
   }
}