@mixin header-bg($url: "../img/hero-md.jpg") {
   background-image: linear-gradient(
      90deg, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)
   ), url($url);
}

.header {
   height: 85vh;
   position: relative;

   @include header-bg;

   @media only screen and (min-width: $phone) {
      @include header-bg("../img/hero-lg.jpg");
   }

   @include retina-img($phone, 125em) {
      @include header-bg("../img/hero-xl.jpg");
   }

   background-size: cover;
   background-position: top;
   
   @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
      height: 95vh;
   }

   &__logo-wrapper {
      position: absolute;
      top: 4rem;
      left: 4rem;
   }

   &__logo {
      height: 3.5rem;
   }

   &__content {
      @include position-middle(40%);
      text-align: center;
   }
}